<navigation
	name="preLive.myName"
    thumbsup="preLive.myThumbsUp"
></navigation>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="center">
	            <form>
		            <button ng-click="preLive.startSession()"
		               ng-disabled="!preLive.hasCamera"
		               class="waves-effect btn start-call">
			            START
		            </button>
	            </form>

            </div>
        </div>


        <div id="camera-tos" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Terms of Service</h4>
                <p>This will say we are not responsible if things go bad.<br/>

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquid aperiam at cupiditate dolorem explicabo minima modi mollitia nam, nesciunt odio perspiciatis possimus quaerat repellat tempora vel veritatis. Accusamus, ea.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus fuga odio omnis suscipit! Consequatur doloribus earum minima molestiae similique! Eligendi enim ipsum minus non numquam repellat tenetur vel voluptate voluptatum.</p>
            </div>
            <div class="modal-footer">
                <a ng-click="preLive.acceptTosAndStartSession()" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
	            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Disagree</a>
            </div>
        </div>

	    <div class="col s12">
            <a class="waves-effect btn col s3 offset-s2 on-camera" ng-click="preLive.startCamera()">On</a>
		    <a class="waves-effect btn col s3 offset-s2 off-camera" ng-click="preLive.stopCamera()">Off</a>
        </div>

    </div>
</div>

