.start-call.waves-effect.btn {
	margin-top: 30px;
	margin-bottom: 25px;
	background-color: #4545c6;
}

.waves-effect.btn.off-camera {
	background: #da2222;
}

.waves-effect.btn.on-camera {
	background: forestgreen;
}
