.login {
	background-color: transparent;
    border: none;
    color: white;
    font-size: 2.5em;
    margin-top: 100px;
}
.login:active, .login:focus {
	background-color: transparent;
}
.loginWrapper {
    text-align: center;
    width: 100%;
}
