.login {
	background-color: transparent;
    border: none;
    color: white;
    font-size: 2.5em;
    position: absolute;
    bottom: 0;
    margin-bottom: 400px;
    left: 0;
    margin-left: 43%;
	font-weight: bold;
}
.login:active, .login:focus {
	background-color: transparent;
}
