#myCamera.preLive {
    max-height: 500px;
    width: 90%;
    margin-left: 5%;
}

#myCamera.live {
	position: absolute;
	bottom: 0;
	margin-bottom: 8px;
	margin-left: 8px;
	max-height: 18%;
	max-width: 30%;
}
@media only screen and (max-width: 600px) {
    #myCamera.live {
        max-width: 70%;
    }
}
