<navigation></navigation>

<div class="container">
    <div class="row">
        <div class="col s12">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">
                        <img class="country-flag-friend" src="/flags/pt.svg"></img>
                        <h5 class="friend-name">&nbsp;Flavio Carvalho</h5>
                    </div>
                    <div class="collapsible-body">
                        <div class="col s12">
                            <status></status>
                        </div>
                        <div class="col s12 m4 l5">
                            <img src="https://scontent-dfw1-1.xx.fbcdn.net/v/t1.0-9/11025133_10153134375503205_1202843405934679003_n.jpg?oh=f2b2fdf3a187602cd915b9d623933b6a&oe=5800DEC6"
                             alt="" class="responsive-img" id="friend-img">
                        </div>
                        <div class="col s12 m8 l7">
                            <social-media></social-media>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
